html {
    padding: 0;
    margin: 0;
}

@media print {
    @page {
        margin: 0;
    }

    body {
        margin: 1.6cm;
    }
}

.profile_pic {
    height: 4.5cm;
    
    width: auto;
    aspect-ratio: initial;
    border-radius: 50%;
    display: block;
    margin: 0.5cm auto;
}


body {
    display: flex; /* Use flexbox to create columns */
    max-width: 100%;
    margin: 0 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
}

.left-column {
    /* Style for the left column */
    flex: 1; /* Make the left column flexible to take available space */
    padding: 20px; /* Adjust the padding as needed */
    background-color: #f0f0f0; /* Set the background color for the left column */
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}


.left-column li {
    line-height: 150%;
    margin-bottom: 0.5rem
}

.main-content {
    /* Style for the main content column */
    padding: 20px; /* Adjust the padding as needed */
    flex: 2; /* Make the main content column flexible */
}

.name {
    font-size: 200%;
    line-height: 150%;
    font-weight: bold;
    display: block;
    text-align: center;
}

h1 {
    border: none;
    text-align: center;
    font-weight: bold;
    padding: 0;
    margin: 1rem 0;
    color: #333;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 2px solid black !important;
    color: #0D47A1;
    margin: 10px 0 5px 0;
    padding: 0 0 2px 0;
}

h3 {
    font-size: 1em;
    font-weight: bold;
    margin: 5px 0 0 0;
}

h4 {
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 0.25em 0;
}

p,
ul {
    font-size: 100%;
    margin: 0;
}

ul,
ol {
    padding: 0 0 0 1.5rem;
    margin: 0;
}

li {
    line-height: 140%;
}

.info_2 p {
    line-height: 150%;
}

.info,
.info_2 {
    display: block;
    text-align: justify;
}

a {
    color: #0D47A1;
}

code {
    color: black;
}

time {
    float: right;
    font-size: inherit;
    font-weight: bold;
}

location {
    font-weight: normal;
    font-style: italic;
}

